.supplies-page {
    padding: 20px;
}

.supplies-page h2 {
    font-size: 28px;
    color: #333;
    margin: 0;
}

.supplies-page .table-actions {
    display: flex;
    gap: 8px;
    /* Espacio entre los botones de acción */
}
