@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

/* Contenedor principal del menú */
.menuContainer {
    display: flex;
    padding: 2rem 0;
    margin-top: 2.4rem;
    gap: 2rem;
    background-color: #fff;
    position: relative;
}

/* Sidebar izquierdo */
.sidebar {
    width: 220px;
    border-radius: 0.6rem;
    position: sticky;
    top: 4.3rem;
    align-self: flex-start;
    height: fit-content;
    z-index: 10;
}

.categoryList {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.categoryListItem {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    justify-content: space-around;
}

.categoryListItem img {
    width: 24px;
    height: 24px;
    filter: invert(77%) sepia(85%) saturate(1919%) hue-rotate(359deg) brightness(102%) contrast(107%);
    flex-shrink: 0;
}

.categoryButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA101;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    font-size: 0.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    min-width: 140px;
    max-width: 160px;
    text-wrap: nowrap;
}

.categoryButton:hover {
    background-color: #ffad20;
    color: #333;
    transform: translateY(-2px);
}

/* Contenido principal */
.mainSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    /* Espacio a los lados */
}

/* Buscador */
.searchBarContainer {
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2.5rem;
    padding-bottom: 0.8rem;
    width: 50%;
    position: relative;
}

.searchInput {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    padding: 0.4rem 0;
    color: #555;
}

.searchInput::placeholder {
    color: #aaa;
}

.searchIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    cursor: pointer;
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
}

/* Secciones de productos */
.productSection h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.8rem;
    justify-items: center;
    margin-bottom: 3rem;
}

.productCard {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.8rem;
    padding: 1.2rem;
    text-align: center;
    width: 100%;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.productCard img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
}

.productCard p {
    font-size: 1rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.productCard span {
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFA101;
}

/* Carrito */
.cartSidebar {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    padding: 1.5rem;
    text-align: center;
    height: fit-content;
    position: sticky;
    top: 4.3rem;
    align-self: flex-start;
    z-index: 10;
}

.cartSidebar h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.emptyCart {
    color: #888;
    font-size: 0.9rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.emptyCart img {
    width: 60px;
    height: 60px;
    opacity: 0.6;
}



/* --- Estilos Modal --- */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #fff;
    border-radius: 12px;
    border: 2px solid #FFA101;
    padding: 1rem 1.5rem;
    width: 90%;
    max-width: 480px;
    position: relative;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1001;
}

.closeButton:hover {
    filter: invert(30%) sepia(30%) saturate(80%) hue-rotate(0deg) brightness(30%) contrast(100%);
}

.modalImageContainer {
    width: calc(100% + 3rem);
    height: 250px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    background-color: #FFA101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -1rem -1.5rem 0 -1.5rem;
    position: relative;
    margin-bottom: 0.8rem;
    padding-top: 1rem;
}

.modalImage {
    width: 70%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.modalProductName {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}

.modalDescription {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.8rem;
    line-height: 1.4;
    text-align: center;
}

.modalIngredients {
    font-size: 0.8rem;
    color: #777;
    text-align: left;
    margin-bottom: 1.2rem;
    line-height: 1.3;
}

.ingredientsTitle {
    font-weight: 700;
    color: #444;
}

.modalPriceSection {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

.modalPriceLabel {
    font-size: 1rem;
    font-weight: 600;
    color: #444;
}

.modalPrice {
    font-size: 1.3rem;
    font-weight: 800;
    color: #FFA101;
}

.quantityControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.quantityLabel {
    font-size: 0.8rem;
    color: #666;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.quantityButtons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
}

.quantityButton {
    background-color: #FFA101;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.quantityButton:hover {
    background-color: #e69100;
}

.currentQuantity {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    min-width: 30px;
    text-align: center;
}

.addToCartButton {
    background-color: #FFA101;
    color: #333;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 13px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    transition: background-color 0.2s ease;
}

.addToCartButton:hover {
    background-color: #e69100;
}

.cartItems {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Segoe UI', sans-serif;
    max-height: 500px;
    /* ajusta según lo que te parezca */
    overflow-y: auto;
    padding-right: 0.5rem;
    /* espacio para scrollbar */
    margin-bottom: 1rem;
    scroll-behavior: smooth;
}

.cartItems ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cartItem {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
}

.cartItem:last-child {
    border-bottom: none;
}

.cartItem p {
    font-weight: 600;
    margin: 0;
    color: #333;
    font-size: 1rem;
}

.cartItem span {
    color: #555;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

.cartTotal {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFA500;
    text-align: center;

}

.cartItems::-webkit-scrollbar {
    width: 6px;
}

.cartItems::-webkit-scrollbar-thumb {
    background-color: #ff8800;
    /* color del scroll */
    border-radius: 4px;
}

.cartItems::-webkit-scrollbar-track {
    background-color: transparent;
}

.quantityControls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.incrementButton,
.decrementButton {
    padding: 4px 8px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.continueButton {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}