/* src/administracion-sistema/components/common/SelectField/SelectField.css */

.select-field-container {
    margin-bottom: 15px;
}

.select-field-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.select-field-container select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    appearance: none;    /* Elimina estilos por defecto del navegador */
    outline: none;
    background-image: url('https://images.icon-icons.com/3400/PNG/512/arrow_down_icon_215156.png');
    /* Icono de flecha */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}
